In [1]:
import pandas as pd
import numpy as np
import ast
import nltk

In [2]:
movie = pd.read_csv("tmdb_5000_movies.csv")[:1000]
credits = pd.read_csv("tmdb_5000_credits.csv")[:1000]

In [3]:
movie.shape

(1000, 20)

In [4]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [48]:
credits.shape

(1000, 4)

In [51]:
movies1=movie.merge(credits)

movies1.head(1)
movies1.shape

(1000, 23)

In [52]:
movies =movies1[["movie_id","keywords","overview","title","cast","genres","crew"]]

In [53]:
movies.head(1)

,movie_id,keywords,overview,title,cast,genres,crew
0,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di...",Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [8]:
movies.isnull().sum()

movie_id    0
keywords    0
overview    0
title       0
cast        0
genres      0
crew        0
dtype: int64

In [9]:
movies.dropna(inplace=True)

C:\Users\TRUST\AppData\Local\Temp\ipykernel_61840\3786870272.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies.dropna(inplace=True)

In [10]:
movies.duplicated().sum()

0

In [11]:
movies.head(1)

,movie_id,keywords,overview,title,cast,genres,crew
0,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di...",Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [12]:
def transfer(obj):
    I =[]
    for i in ast.literal_eval(obj):
        I.append(i["name"])
    return I

In [13]:
movies.dropna(inplace=True)

C:\Users\TRUST\AppData\Local\Temp\ipykernel_61840\3786870272.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies.dropna(inplace=True)

In [14]:
movies['genres']=movies['genres'].apply(transfer)

C:\Users\TRUST\AppData\Local\Temp\ipykernel_61840\1251502013.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['genres']=movies['genres'].apply(transfer)

In [15]:
movies.head()

,movie_id,keywords,overview,title,cast,genres,crew
0,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di...",Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[Action, Adventure, Fantasy, Science Fiction]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","Captain Barbossa, long believed to be dead, ha...",Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[Adventure, Fantasy, Action]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",A cryptic message from Bond’s past sends him o...,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[Action, Adventure, Crime]","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",Following the death of District Attorney Harve...,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[Action, Crime, Drama, Thriller]","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","John Carter is a war-weary, former military ca...",John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[Action, Adventure, Science Fiction]","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [16]:
movies['keywords']=movies['keywords'].apply(transfer)

C:\Users\TRUST\AppData\Local\Temp\ipykernel_61840\1738964725.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['keywords']=movies['keywords'].apply(transfer)

In [17]:
movies['keywords']

0      [culture clash, future, space war, space colon...
1      [ocean, drug abuse, exotic island, east india ...
2      [spy, based on novel, secret agent, sequel, mi...
3      [dc comics, crime fighter, terrorist, secret i...
4      [based on novel, mars, medallion, space travel...
                             ...
995    [civil war, southern usa, magic, light, dark, ...
996    [corruption, moderator, tv show, success, iris...
997    [stupidity, sequel, fashion, male model, fashi...
998    [hotel, robbery, based on novel, judge, hawaii...
999    [noises, alien life-form, erection, neue frau,...
Name: keywords, Length: 1000, dtype: object

In [18]:
movies.head(1)

,movie_id,keywords,overview,title,cast,genres,crew
0,19995,"[culture clash, future, space war, space colon...","In the 22nd century, a paraplegic Marine is di...",Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[Action, Adventure, Fantasy, Science Fiction]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [19]:
def transfer3(obj):
    I =[]
    l = 0
    for i in ast.literal_eval(obj):
        if l<3:
            
            I.append(i["character"])
        l+=1
        
    return I

In [20]:
movies['cast'] = movies['cast'].apply(transfer3)

C:\Users\TRUST\AppData\Local\Temp\ipykernel_61840\1571846763.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['cast'] = movies['cast'].apply(transfer3)

In [21]:
def transfer5(obj):
    I =[]
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            I.append(i["name"])
    return I

In [22]:
movies["crew"]=movies["crew"].apply(transfer5)

C:\Users\TRUST\AppData\Local\Temp\ipykernel_61840\1683400197.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies["crew"]=movies["crew"].apply(transfer5)

In [23]:
movies.head(1
           )

,movie_id,keywords,overview,title,cast,genres,crew
0,19995,"[culture clash, future, space war, space colon...","In the 22nd century, a paraplegic Marine is di...",Avatar,"[Jake Sully, Neytiri, Dr. Grace Augustine]","[Action, Adventure, Fantasy, Science Fiction]",[James Cameron]

In [24]:
def transfer6(obj):
    I =[]
    for i in obj:
        I.append(i.replace(" ",""))
    return I

In [25]:
movies.head(1
           )

,movie_id,keywords,overview,title,cast,genres,crew
0,19995,"[culture clash, future, space war, space colon...","In the 22nd century, a paraplegic Marine is di...",Avatar,"[Jake Sully, Neytiri, Dr. Grace Augustine]","[Action, Adventure, Fantasy, Science Fiction]",[James Cameron]

In [26]:
movies["keywords"]=movies["keywords"].apply(transfer6)
movies["cast"]=movies["cast"].apply(transfer6)
movies["genres"]=movies["genres"].apply(transfer6)
movies["crew"]=movies["crew"].apply(transfer6)

C:\Users\TRUST\AppData\Local\Temp\ipykernel_61840\2017531037.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies["keywords"]=movies["keywords"].apply(transfer6)
C:\Users\TRUST\AppData\Local\Temp\ipykernel_61840\2017531037.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies["cast"]=movies["cast"].apply(transfer6)
C:\Users\TRUST\AppData\Local\Temp\ipykernel_61840\2017531037.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies["genres"]=movies["genres"].apply(transfer6)
C:\Users\TRUST\AppData\Local\Temp\ipykernel_61840\2017531037.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies["crew"]=movies["crew"].apply(transfer6)

In [27]:

movies.head()

,movie_id,keywords,overview,title,cast,genres,crew
0,19995,"[cultureclash, future, spacewar, spacecolony, ...","In the 22nd century, a paraplegic Marine is di...",Avatar,"[JakeSully, Neytiri, Dr.GraceAugustine]","[Action, Adventure, Fantasy, ScienceFiction]",[JamesCameron]
1,285,"[ocean, drugabuse, exoticisland, eastindiatrad...","Captain Barbossa, long believed to be dead, ha...",Pirates of the Caribbean: At World's End,"[CaptainJackSparrow, WillTurner, ElizabethSwann]","[Adventure, Fantasy, Action]",[GoreVerbinski]
2,206647,"[spy, basedonnovel, secretagent, sequel, mi6, ...",A cryptic message from Bond’s past sends him o...,Spectre,"[JamesBond, Blofeld, Madeleine]","[Action, Adventure, Crime]",[SamMendes]
3,49026,"[dccomics, crimefighter, terrorist, secretiden...",Following the death of District Attorney Harve...,The Dark Knight Rises,"[BruceWayne/Batman, AlfredPennyworth, JamesGor...","[Action, Crime, Drama, Thriller]",[ChristopherNolan]
4,49529,"[basedonnovel, mars, medallion, spacetravel, p...","John Carter is a war-weary, former military ca...",John Carter,"[JohnCarter, DejahThoris, Sola]","[Action, Adventure, ScienceFiction]",[AndrewStanton]

In [28]:
movies["overview"]=movies["overview"].apply(lambda x:x.split())

C:\Users\TRUST\AppData\Local\Temp\ipykernel_61840\229043305.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies["overview"]=movies["overview"].apply(lambda x:x.split())

In [29]:
movies

,movie_id,keywords,overview,title,cast,genres,crew
0,19995,"[cultureclash, future, spacewar, spacecolony, ...","[In, the, 22nd, century,, a, paraplegic, Marin...",Avatar,"[JakeSully, Neytiri, Dr.GraceAugustine]","[Action, Adventure, Fantasy, ScienceFiction]",[JamesCameron]
1,285,"[ocean, drugabuse, exoticisland, eastindiatrad...","[Captain, Barbossa,, long, believed, to, be, d...",Pirates of the Caribbean: At World's End,"[CaptainJackSparrow, WillTurner, ElizabethSwann]","[Adventure, Fantasy, Action]",[GoreVerbinski]
2,206647,"[spy, basedonnovel, secretagent, sequel, mi6, ...","[A, cryptic, message, from, Bond’s, past, send...",Spectre,"[JamesBond, Blofeld, Madeleine]","[Action, Adventure, Crime]",[SamMendes]
3,49026,"[dccomics, crimefighter, terrorist, secretiden...","[Following, the, death, of, District, Attorney...",The Dark Knight Rises,"[BruceWayne/Batman, AlfredPennyworth, JamesGor...","[Action, Crime, Drama, Thriller]",[ChristopherNolan]
4,49529,"[basedonnovel, mars, medallion, spacetravel, p...","[John, Carter, is, a, war-weary,, former, mili...",John Carter,"[JohnCarter, DejahThoris, Sola]","[Action, Adventure, ScienceFiction]",[AndrewStanton]
...,...,...,...,...,...,...,...
995,109491,"[civilwar, southernusa, magic, light, dark, cl...","[Ethan, Wate, just, wants, to, get, to, know, ...",Beautiful Creatures,"[EthanWate, LenaDuchannes, MaconRavenwood]","[Fantasy, Drama, Romance]",[RichardLaGravenese]
996,9275,"[corruption, moderator, tvshow, success, irish...","[Tells, the, story, of, Rainbow, Randolph,, th...",Death to Smoochy,"[RainbowRandolph, NoraWells, SheldonMopes/Smoo...","[Comedy, Crime, Drama, Thriller]",[DannyDeVito]
997,329833,"[stupidity, sequel, fashion, malemodel, fashio...","[Derek, and, Hansel, are, modelling, again, wh...",Zoolander 2,"[DerekZoolander, Hansel, Mugatu]",[Comedy],[BenStiller]
998,12634,"[hotel, robbery, basedonnovel, judge, hawaii, ...","[A, small-time, con, artist, and, a, Hawaiian,...",The Big Bounce,"[JackRyan, WalterCrewes, RayRitchie]","[Comedy, Crime]",[GeorgeArmitage]
999,10416,"[noises, alienlife-form, erection, neuefrau, a...","[A, highly-evolved, planet,, whose, denizens, ...",What Planet Are You From?,"[HaroldAnderson, SusanAnderson, RolandJones]","[Comedy, Drama, Romance, ScienceFiction]",[MikeNichols]

In [30]:

movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

C:\Users\TRUST\AppData\Local\Temp\ipykernel_61840\3770452025.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [31]:
new = movies.drop(columns=['overview','genres','keywords','cast','crew'])
new.head(1)

   movie_id   title                                               tags
0     19995  Avatar  [In, the, 22nd, century,, a, paraplegic, Marin...

In [32]:
new['tags'] = new['tags'].apply(lambda x: " ".join(x))

In [33]:
new.head(1)

   movie_id   title                                               tags
0     19995  Avatar  In the 22nd century, a paraplegic Marine is di...

In [34]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words="english")

In [35]:
Vectors = cv.fit_transform(new['tags']).toarray()

In [36]:
Vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [37]:
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zoo', 'zookeeper', 'zorro'], dtype=object)

In [38]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [39]:
def stem(word):
    J =[]
    for i in word.split():
        J.append(ps.stem(i))
    return " ".join(J)

In [40]:
new['tags']=new['tags'].apply(stem)
new['tags']

0      in the 22nd century, a parapleg marin is dispa...
1      captain barbossa, long believ to be dead, ha c...
2      a cryptic messag from bond’ past send him on a...
3      follow the death of district attorney harvey d...
4      john carter is a war-weary, former militari ca...
                             ...
995    ethan wate just want to get to know lena ducha...
996    tell the stori of rainbow randolph, the corrup...
997    derek and hansel are model again when an oppos...
998    a small-tim con artist and a hawaiian real est...
999    a highly-evolv planet, whose denizen feel no e...
Name: tags, Length: 1000, dtype: object

In [41]:
from sklearn.metrics.pairwise import cosine_similarity

In [42]:
similarity = cosine_similarity(Vectors)

In [43]:
sorted(list(enumerate(similarity[0])),reverse=True,key =lambda x:x[1])[1:6]

[(539, 0.254762332682534),
 (507, 0.2466466911319812),
 (260, 0.23388213848187445),
 (582, 0.22645540682891918),
 (61, 0.21483446221182986)]

In [44]:
def recomnetion(movie):
    movies_index = new[new['title']==movie].index[0]
    distance= similarity[movies_index]
    movies_list=sorted(list(enumerate(distance)),reverse=True,key =lambda x:x[1])[1:6]
    for i in movies_list:
        print(new.iloc[i[0]].title)
        
        
# def recommend(movie):
#     index = new[new['title'] == movie].index[0]
#     distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
#     for i in distances[1:6]:
#         print(new.iloc[i[0]].title)

In [54]:
new.iloc[1216].title

IndexError: single positional indexer is out-of-bounds

In [55]:
recomnetion('Avatar')

Titan A.E.
Independence Day
Ender's Game
Battle: Los Angeles
Jupiter Ascending

In [56]:
import pickle

In [57]:
pickle.dump(new.to_dict(),open("movie_dict1.pkl","wb"))

In [58]:
pickle.dump(similarity,open('similarity.pkl1','wb'))